@* @model IEnumerable<InvestLink_BLL.Models.CoordinatorReportVM> *@
@{
    ViewBag.Title = "Index ";
}

﻿@using InvestLink_BLL.Interfaces
@using InvestLink_DAL.Entities
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> signInManager

@inject ICoordinatorReport icoordinatorReport;

@inject IEmployee iEmployee;



@{
    var user = await signInManager.UserManager.GetUserAsync(signInManager.Context.User);
    var email = await signInManager.UserManager.GetEmailAsync(user);

    // متغير
    IEnumerable<CoordinatorReport> coordinatorReports;

    //obj from identity user
    if (User.IsInRole("FollowUpEployee"))
    {
        var iEmp = await iEmployee.GetByEmailAsync(email);
        var iEmptId = iEmp.Id;

        var iicoordinatorReport = await icoordinatorReport.GetAllAsync(iEmptId);

        coordinatorReports = await icoordinatorReport.GetAllAsync(iicoordinatorReport);
    }
    else
    {
    coordinatorReports = await icoordinatorReport.GetAllAsync();
    }

}


@*  لموظف المتابعة و رئيس خدمات المستثمرين*@

<h6 class="mb-0 text-uppercase">المشاريع </h6>
<hr>
<div class="card">
    <div class="card-body">
        <table class="table mb-0 table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">اسم</th>
                    <th scope="col"> حالة تقرير</th>
                    <th scope="col"> الاجراءات</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int Count = 0;
                }
                @foreach (var Item in coordinatorReports)
                {
                    Count++;
                    <tr>
                        @* <th scope="row">@Count</th> *@

                        <td>@Item.ProjectCoordinator?.Project?.Name</td>
                        <td>@Item.Status</td>
                        <td>
                            <a asp-controller="CoordinatorReport"
                               asp-action="Details"
                               asp-route-id="@Item.Id"
                               class="btn btn-primary">
                                تفاصيل تقرير
                            </a>
                            

                        </td>

                        @*  لرئيس خدمات المستثمرين*@

                        <td>
                            <a asp-controller="CoordinatorReport"
                               asp-action="ReCreateLicense"
                               asp-route-projectCoordinatorId="@Item.Id"
                               class="btn btn-success">
                                تجديد رخصه
                                </a>
                        </td>

                       
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>