@using InvestLink_BLL.Models
@model List<UserInRoleVM>;
@{
    ViewBag.Title = "AddOrRemove";
    var RoleId = ViewBag.RoleId;
}

        <div  class="card">
            <div class="card-body">
                <div class="border p-3 rounded">
                    <h6 class="mb-0 text-uppercase">إضافة او إزالة صلاحية</h6>
                    <hr>
            <h3>@ViewBag.Name</h3>
            <form asp-controller="Role" asp-action="AddOrRemove" class="row g-3">
                   @for (int i = 0; i < Model.Count;i++)
    {
                   
                    <div class="form-check">

                        <input asp-for="@Model[i].IsSelected" type="checkbox" class="form-check-input"  id="flexCheckDefault" />
                        <label asp-for="@Model[i].IsSelected" class="form-check-label" for="flexCheckDefault">@Model[i].UserName</label>
                    <br />
                    <br />
                    <input type="hidden" asp-for="@Model[i].UserName" />
                    <input type="hidden" asp-for="@Model[i].Id" />
                    </div>
                }
                <input type="hidden" Name="RoleId" value="@RoleId" />
                        
                        <div class="col-12">
                            <div class="d-grid">
                              
                         
                     
                            <input type="submit" value="تعديل صلاحية" class="btn btn-primary" />
                            
                            
                            </div>
                        </div>
                    </form>
                    <br />
            <a asp-controller="Role" asp-action="Update" asp-route-Id="@RoleId" class="btn btn-primary">إلغاء</a>
                </div>
            </div>
        </div>
