@model IEnumerable<InvestLink_BLL.Models.ProjectCoordinatorVM>
@{
    ViewBag.Title = "Index ";
}

@* لموظف المتابعة *@

@* <h6 class="mb-0 text-uppercase">المشاريع </h6> *@
<hr>
<div class="card">
    <div class="card-body">
        <table class="table mb-0 table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">اسم</th>
                    <th scope="col"> موقع المشروع</th>
                    <th scope="col">اسم الموظف</th>
                    <th scope="col"> الاجراءات</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int Count = 0;
                }
                @foreach (var Item in Model)
                {
                    Count++;
                    <tr>
                        <th scope="row">@Count</th>

                        <td>@Item.Project?.Name</td>
                        <td>@Item.Project?.ProposedSite</td>
                        <td>@Item.Employee?.Name</td>
                        <td>
                            <a asp-controller="CoordinatorReport"
                               asp-action="Create"
                               asp-route-id="@Item.Id"
                               class="btn btn-primary">
                                إصدار تقرير
                            </a>
                        </td>

                        <td>
                            <a asp-controller="CoordinatorReport"
                               asp-action="Update"
                               asp-route-Id="@Item.Id"
                               class="btn btn-success">
                                تعديل التقرير
                            </a>
                          @*   <a asp-controller="CoordinatorReport" asp-action="Update" asp-route-ProjectCoordinatorId="@Item.Id" class="d-inline">

                                   تعديل التقرير
                              
                            </a> *@
                        </td>


                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>