




@model IEnumerable<InvestLink_BLL.Models.ProjectCoordinatorVM>
@{
    ViewBag.Title = "Index ";
}

@* لموظف المتابعة *@


<hr>
<div class="card">
    <div class="card-body">
        <table class="table mb-0 table-hover">

            <a asp-controller="CoordinatorReport" asp-action="Create" class="btn btn-info waves-effect">
                   <i class="fadeIn animated bx bx-pencil"></i>
                </a>
         
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">اسم</th>
                    <th scope="col"> موقع المشروع</th>
                    <th scope="col">اسم الموظف</th>
                    <th scope="col"> الاجراءات</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int Count = 0;
                }
                @foreach (var Item in Model)
                {
                    Count++;
                    <tr>
                        <th scope="row">@Count</th>

                        <td>@Item.Project?.Name</td>
                        <td>@Item.Project?.ProposedSite</td>
                        <td>@Item.Employee?.Name</td>


                        <td>
                            <a asp-controller="CoordinatorReport"
                               asp-action="Update"
                               asp-route-CoordinatorReportId="@Item.Id"
                               class="btn btn-success">
                                <i class="fadeIn animated bx bx-refresh"></i>
                            </a>
                           
                        </td>


                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>    